<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="wrap">
    <header>
        <h1>conclusion by zhengxinshuo</h1>
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <article>
        <section>
            <header>
                <h2>面试总结</h2>
            </header>
            <article>
                <section></section>
            </article>
        </section>
        <section>
            <header>
                <h2>项目中所犯的BUG</h2>
            </header>
            <article>
                <!--a标签事件绑定bug-->
                <section>
                    <h3>ios中a标签绑定事件bug</h3>
                    <p><span>描素</span>猴年马月项目中在一个a标签绑定了click事件 $(document).on('click','ele'.function);在安卓上没有异常，在ios上
                        事件失效</p>
                    <p><span>原因</span>ios a标签的click事件有bug</p>
                    <p><span>解决</span>代码改为$(document).on('touchstart','ele',function);但是会发生击穿事件，在document上我绑定了一个click事件，
                        让弹框影藏。touch后会冒泡到document上。需要取消冒泡。加入以下代码 function(e){ e=e||window.event; e.stopPropagation;return false;}</p>
                    <p><span>补充</span>关于stopPropagation的一些小问题</p>
                    <ul>
                        <li>ie9及ie9以上阻止冒泡时使用e.stopPropagation</li>
                        <li>低版本ie使用e.cancelBubble</li>
                        <li>jquery中阻止冒泡使用stopPropagation或者return false;前者已经兼容了事件冒泡的</li>
                        <li>return false;和stopPropagation的区别
                            <ul>
                                <li>return false 包含阻止冒泡和组织默认行为，例如a标签的跳转</li>
                                <li>stopPropagation仅仅只是组织冒泡而已</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!--样式书写不规范导致ie中样式出错-->
                <section>
                    <h3>样式书写规范不当导致的ie样式显示错乱的bug</h3>
                    <p><span>描素</span>A+流量撮合平台中border-top在其他浏览器中能显示，但是在ie中硬是检查不出来</p>
                    <p><span>原因</span>css中样式书写错误border-top:1px solid#333333;样式书写不规范，没有空格隔开，在谷歌中没有异样，但是在ie中就错误了</p>
                    <p><span>解决</span>空格去掉</p>
                </section>
                <!--margin穿透外层元素导致样式与预想的不一样-->
            </article>
        </section>
    </article>

</div>
</body>
</html>
